.App {
  text-align: center;
  margin: auto;
}
.nav-link {
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}
.Smurf {
  border: 1px solid black;
  padding: 5px;
  margin: 5px auto;
  width: 400px;
}
.SmurfForm {
  margin: 10px;
}
input {
  margin: 5px;
}